# 虚拟环境
.venv/
venv/

# Python 编译文件
__pycache__/
*.py[cod]
*$py.class

# pip / 包管理文件
pip-log.txt
*.egg-info/
dist/
build/

# IDE 文件
.vscode/
.idea/
*.iml

# 日志文件
*.log

# 系统文件
.DS_Store
Thumbs.db

# 照片
Photo/
